/* custom scrollbar */
.scrollbar {
  overflow-x: overlay;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-light::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 4px;
}
.scrollbar-light::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}
.scrollbar-light::-webkit-scrollbar-corner {
  background-color: red;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}
.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
.scrollbar-dark::-webkit-scrollbar-corner {
  background-color: #666;
}